$('.results-bacon').remove();
$('.bacon').append('<div class="results-bacon"> <p>Result: </p> <strong> <%= j @actor1 %> </strong> and <strong><%= j @actor2 %></strong> have <strong style=" color:red"><%= j @response.body %></strong> </div>');