/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
html {
  font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Keeps page centred in all browsers regardless of content height */
  -ms-text-size-adjust: 100%; /* Keeps page centred in all browsers regardless of content height */
}

body {

    background-color: #333333 !important;
}

.no-padding {
    clear: left;
    margin: 0px;
    padding: 0 0 0 5px;
}

.pagination {
    clear: left;
    margin: 0px;
    padding: 0 0 0 5px;
}

.browse-wrapper {
    width: 297px;
    float: left;
    padding: 0 5px;
    margin: 0 0px 10px 0;
}

.browse-content {
    border-right: 1px solid #bebebe;
    float: left;
    padding-right: 10px;
}

.browse {
margin-left: 20px;
float: left;
}

.full-width {
  width: 81%;
background: #f9f9f9;
float: left;
padding: 1%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 5px solid green;

}

.content {
width: 90%;
margin-left: 22%;
//margin-top: 3%;
z-index: 10;
position: relative;
}

.browse-img {
float: left;
width: 120px;
//width: 100%;
height: 192px;
//  height: 100%;
margin-right: 8px;
}

.browse-info {
float: left;
width: 155px;
position: relative;
  b{
    color: firebrick;
  }

}

.info {
display: block;
height: 148px;
}

.info .browseTitleLink {
font-size: 13px;
text-shadow: 0 1px 1px #b2b2b2;
font-weight: bolder;
display: inline-block;
margin-bottom: 10px;
}

.hint {
display: inline-block;
}
div[class="tooltip-inner"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 4px;
  margin-bottom: 6px;
  background-color: #050505;
  font-size: 16px;
}

.search-form{
  position: relative;
  //top: 20px;
  //width: 800px;
  width: 80%;
  margin-top: 2%;
  left: 22%;
  input{
    width: 72%;
  }
  select{
    width: 10%;
  }
}
.side-menu{
  background: #f9f9f9;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  //width: 200px;
  //height: 500px;
  width: 18%;
  height: 70%;
  position: absolute;
  top: 12%;
  left: 1%;
  margin-top: 1%;
  //left: 30px;
  border: 5px solid green;
  p{
    font-family: impact;
    font-size: 16px;
    }
  strong{
    color: blue;
  }
}
.logo1{
  position: absolute;
  top: 2%;
  left: 1%;
  width: 19%;
  height: 3%;

}

.logo2{
  position: absolute;
  top: 650px;
  left: 90px;
  width: 70px;
  height: 70px;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}


